.cartWidget__container {
  padding: 0 20px;
}

.cartWidget__container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.cartWidget__container a img {
  display: block;
  width: 100%;
  transition: 0.2s;
}

.cartWidget__container a:hover img {
  transform: rotate(-20deg);
  transition: 0.2s;
}

#cartWidget__counter {
  background-color: #f00;
  margin-left: 2px;
  border-radius: 35%;
  padding: 0 5px;
}
