.item__container {
  margin-top: 50px;
  max-width: 300px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.7);
}

.item__image img {
  display: block;
  width: 100%;
}

.item__description {
  padding: 10px;
  background: #fff;
}
