.cartContainer__container {
  width: 90%;
  margin: 40px auto;
}

.cartContainer__container h2 {
  text-align: center;
  padding: 10px;
}

.cartContainer__columns {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.cartContainer__products {
  padding: 10px;
}

.cartContainer__totalPrice {
  padding: 10px;
  text-align: end;
}
